@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
body {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-family: "Zen Maru Gothic", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #0b0b0b; }

input,
button {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-family: "Zen Maru Gothic", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #0b0b0b; }

#mv .mv-copy {
  font-size: 2.2em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-family: "Zen Maru Gothic", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif; }

.cta-btn {
  font-size: 1.5em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-family: "Zen Maru Gothic", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif; }

.side-fixed .text {
  font-weight: 600; }
  .side-fixed .text .num {
    font-size: 1.5em; }
.side-fixed .side-btn {
  font-size: 1.25em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-family: "Zen Maru Gothic", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif; }

#ticket-buy .text {
  font-size: 1.25em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-family: "Zen Maru Gothic", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif; }

.lead {
  font-size: 1.25em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-family: "Zen Maru Gothic", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif; }

.sec-title {
  font-size: 3em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 800;
  font-family: "Zen Maru Gothic", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif; }
  .sec-title .st-sub {
    font-size: 0.5em;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-family: "Zen Maru Gothic", sans-serif;
    font-family: "M PLUS Rounded 1c", sans-serif; }

#event .event-list .item .head {
  font-size: 1.5em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-family: "Zen Maru Gothic", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif; }
#event .event-list .item .desc {
  font-size: 1.25em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-family: "Zen Maru Gothic", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif; }

#contents .pickup-head {
  font-size: 2.5em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-family: "Zen Maru Gothic", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif; }
#contents .pickup-flex .item p {
  font-weight: 800; }

#access .place {
  font-size: 1.25em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-family: "Zen Maru Gothic", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif; }

#qa .qa-list {
  font-size: 1.1em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-family: "Zen Maru Gothic", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif; }

.copy-right {
  font-size: 12px; }

@media screen and (max-width: 900px) {
  body {
    font-size: 14px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-family: "Zen Maru Gothic", sans-serif;
    font-family: "M PLUS Rounded 1c", sans-serif; } }
@media screen and (max-width: 540px) {
  #mv .mv-copy {
    font-size: 20px; }

  .lead {
    font-size: 14px;
    font-weight: 500; }

  .sec-title {
    font-size: 26px; }
    .sec-title .st-sub {
      font-size: 14px;
      font-weight: 600; }

  #ticket-buy .text {
    font-size: 16px; }

  .cta-btn {
    font-size: 18px; }

  #event .event-list .item .head {
    font-size: 15px; }
  #event .event-list .item .desc {
    font-size: 14px; }

  #contents .pickup-head {
    font-size: 24px; }
  #contents .pickup-flex .item p {
    font-size: 11px; }

  #qa .qa-list {
    font-size: 14px; } }
html,
body {
  width: 100%;
  overflow-x: hidden; }

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

a {
  cursor: pointer; }

section {
  display: block;
  position: relative;
  z-index: 0;
  padding: 120px 0; }

.inner-wrap {
  padding: 0 1em;
  width: calc(100% - 2em);
  max-width: 1200px;
  margin: auto; }

.font-mp {
  font-family: "M PLUS Rounded 1c", sans-serif; }

#mv {
  padding: 0; }
  #mv .mv-top {
    position: relative; }
  #mv .mv-bg {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    filter: brightness(0.9); }
  #mv .mv-logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 600px;
    width: 90%;
    padding: 2em 0 0 1em;
    -webkit-filter: drop-shadow(0 0 12px rgba(0, 11, 77, 0.2));
    filter: drop-shadow(0 0 12px rgba(0, 11, 77, 0.2)); }
  #mv .mv-copy {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 23%;
    color: #fff;
    line-height: 1.6; }
    #mv .mv-copy p {
      width: fit-content;
      padding: 0.2em 1em 0.2em 0.6em;
      box-shadow: 1px 2px 0px 1px #fff;
      border-radius: 0 40px 40px 0;
      border: solid 2px #fff;
      border-left: none;
      text-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
      background: rgba(255, 255, 255, 0.2); }
      #mv .mv-copy p:first-of-type {
        margin-bottom: 20px; }
  #mv .mv-info {
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding-top: 120px; }
  #mv .mv-open {
    margin-bottom: 2em; }
  #mv .mv-text {
    max-width: 600px;
    width: 100%;
    margin: 4em auto; }

.mv-wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto; }
  .mv-wave.wave-transf {
    bottom: auto;
    top: -1px;
    transform: rotate(180deg); }

.side-fixed {
  position: fixed;
  z-index: 100;
  right: 1em;
  bottom: 1em;
  border: solid 2px #000b4d;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 #000b4d;
  background: linear-gradient(#ffda6c, #ffbf00 50%); }
  .side-fixed .text {
    position: relative;
    text-align: center;
    padding: 0 1em;
    margin: 0 1em 0.25em; }
    .side-fixed .text .num {
      padding: 0 2px; }
    .side-fixed .text::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 2px;
      height: 70%;
      background: #000;
      transform: rotate(-25deg); }
    .side-fixed .text::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 2px;
      height: 70%;
      background: #000;
      transform: rotate(25deg); }
  .side-fixed .side-btn {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background: #fff;
    color: #000b4d;
    padding: 0.5em 1em 0.5em 0.6em;
    text-align: center;
    border: solid 2px #000b4d;
    border-radius: 10px;
    position: relative; }
    .side-fixed .side-btn::before {
      content: "▶︎";
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translate(0, -50%);
      font-size: 0.8em; }
    .side-fixed .side-btn:hover {
      background: #000b4d;
      color: #fff; }
  .side-fixed .close-btn {
    cursor: pointer;
    position: absolute;
    top: -0.7em;
    left: -0.7em;
    width: 30px;
    height: 30px;
    background: #000b4d;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-weight: 800; }

.wave {
  position: relative;
  top: 80px;
  width: 200%;
  height: 100%; }

.wave-path {
  animation: wave-move 4s linear infinite; }

@keyframes wave-move {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-640px); } }
.lead {
  text-align: center; }

.beer-area {
  position: relative; }
  .beer-area .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; }
  .beer-area li {
    display: block;
    position: absolute;
    bottom: -120px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    animation: awaawa 4s linear infinite; }
  .beer-area li:nth-child(1) {
    left: 5%;
    width: 80px;
    height: 80px;
    animation-delay: 0s; }
  .beer-area li:nth-child(2) {
    left: 15%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s; }
  .beer-area li:nth-child(3) {
    left: 20%;
    width: 60px;
    height: 60px;
    animation-delay: 3s; }
  .beer-area li:nth-child(4) {
    left: 80%;
    width: 60px;
    height: 60px;
    animation-delay: 1s; }
  .beer-area li:nth-child(5) {
    left: 85%;
    width: 90px;
    height: 90px;
    animation-delay: 2.5s; }
  .beer-area li:nth-child(6) {
    left: 95%;
    width: 40px;
    height: 40px;
    animation-delay: 4s; }
@keyframes awaawa {
  0% {
    top: 100%;
    opacity: 0; }
  10% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    top: 0;
    opacity: 0; } }
#ticket-buy {
  background: #ffc107;
  background: linear-gradient(#ffd452, #ffc107 50%);
  padding: 80px 0 120px; }
  #ticket-buy .heading {
    max-width: 700px;
    width: 100%;
    margin: auto; }
  #ticket-buy .text {
    text-align: center;
    text-shadow: 0 0 8px #fff;
    padding: 2em 1em;
    color: #000b4d;
    width: fit-content;
    margin: 0em auto 1em;
    line-height: 2; }
@keyframes ctabtn {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
  #ticket-buy .cta-btn {
    box-sizing: border-box;
    display: block;
    max-width: 420px;
    width: 100%;
    margin: auto;
    padding: 0.8em 1em 0.8em 0.4em;
    background: linear-gradient(#e0a6ff, #8800d7);
    color: #fff;
    text-align: center;
    border-radius: 2em;
    border: solid 3px #430279;
    box-shadow: 0 6px 0 0 #430279;
    transition: 0.2s;
    animation: ctabtn 2s linear infinite;
    position: relative; }
    #ticket-buy .cta-btn::before {
      content: "▶︎";
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translate(0, -50%);
      font-size: 0.8em; }

.container {
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  background: #fff;
  border-radius: 40px;
  box-shadow: 8px 8px 0px #000b4d;
  border: solid 4px #000b4d;
  position: relative;
  overflow: hidden; }

.container-in {
  padding: 0 1em 4em; }

.sec-heading {
  max-width: 700px;
  width: 100%;
  margin: auto; }

.sec-title {
  background: #40cc53;
  color: #fff;
  padding: 0.75em 1em 0.5em;
  text-align: center;
  line-height: 1.2;
  border-bottom: solid 4px #000b4d;
  text-shadow: 4px 4px 0 #0b4013; }
  .sec-title .st-sub {
    border: solid 3px #0b4013;
    border-radius: 1em;
    padding: 0em 1em;
    color: #0b4013;
    background: #ffc107;
    text-shadow: none; }

#event {
  padding: 40px 0;
  background: #ffc107; }
  #event .lead {
    padding: 2em 0;
    line-height: 1.6; }
  #event .event-list {
    box-sizing: border-box;
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding: 1em 2em;
    border-radius: 20px;
    background: #fff1cb; }
    #event .event-list .item {
      display: flex;
      align-items: center;
      padding: 1em 0;
      border-bottom: dashed 1px #000b4d; }
      #event .event-list .item:last-of-type {
        border: none; }
      #event .event-list .item .head {
        box-sizing: border-box;
        min-width: 200px;
        width: 20%;
        background: #ffc107;
        padding: 1em;
        position: relative;
        clip-path: polygon(0 0, 70% 0, 85% 50%, 70% 100%, 0 100%);
        margin-right: 3%; }
        #event .event-list .item .head::before {
          content: "";
          position: absolute;
          right: 30%;
          top: 50%;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background: #fff; }

#brewery {
  padding: 80px 0;
  background: #ffc107; }
  #brewery .lead {
    padding: 2em 0;
    line-height: 1.6; }
  #brewery .cta-btn {
    box-sizing: border-box;
    display: block;
    max-width: 400px;
    width: 80%;
    margin: auto;
    padding: 0.5em 1em;
    color: #fff;
    text-align: center;
    border-radius: 2em;
    border: solid 3px #000b4d;
    box-shadow: 0px 4px 0 0 #000b4d;
    position: relative;
    background: #001ab2; }
    #brewery .cta-btn:hover {
      background: #fff;
      color: #000b4d; }

.brewery-list {
  max-width: 900px;
  width: 100%;
  margin: 0 auto 3em; }
  .brewery-list .swiper-wrapper {
    transition-timing-function: linear !important;
    padding: 1em 0; }
  .brewery-list .swiper-slide {
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1); }

#contents {
  padding: 40px 0 300px;
  background: #ffc107;
  position: relative; }
  #contents .lead {
    padding: 2em 0;
    line-height: 1.6; }
  #contents .pickup-head {
    box-sizing: border-box;
    max-width: 900px;
    margin: auto;
    background: #ffc107;
    border-radius: 20px 20px 0 0;
    position: relative;
    top: 74px;
    text-align: center;
    padding: 0.4em 1em; }
  #contents .pickup-flex {
    max-width: 900px;
    width: 100%;
    margin: 2em auto 0;
    display: flex;
    justify-content: space-between;
    padding: 6em 2em 2em;
    box-sizing: border-box;
    border-radius: 20px;
    background: #fff1cb; }
    #contents .pickup-flex .item {
      width: 30%; }
      #contents .pickup-flex .item p {
        padding-top: 1em;
        text-align: center;
        color: #000b4d; }

.cont-slider {
  max-width: 900px;
  width: 100%;
  margin: 0 auto; }
  .cont-slider .swiper-wrapper {
    transition-timing-function: linear !important; }
  .cont-slider .swiper-slide {
    box-sizing: border-box;
    border-radius: 1em;
    overflow: hidden; }

#access {
  padding: 60px 0; }
  #access iframe {
    box-sizing: border-box;
    display: block;
    max-width: 800px;
    width: 100%;
    margin: 2em auto;
    box-shadow: 6px 6px 0 0px #000b4d;
    border: solid 4px #000b4d;
    border-radius: 20px; }
  #access .access-text {
    max-width: 800px;
    width: 100%;
    margin: auto; }
  #access .place {
    border-bottom: solid 3px #ffc107;
    margin-bottom: 1em;
    padding-bottom: 4px; }
  #access .station p {
    padding-bottom: 0.5em; }

#qa {
  background: #9ddaff;
  position: relative;
  padding: 240px 0; }
  #qa .qa-list {
    max-width: 800px;
    width: 100%;
    margin: 2em auto 0; }
    #qa .qa-list .item {
      background: #ffc107;
      border-radius: 10px;
      margin-bottom: 1.15em;
      box-shadow: 6px 6px 0px #000b4d;
      border: solid 2px #000b4d; }
      #qa .qa-list .item .qa-q {
        padding: 1em;
        border-radius: 10px;
        display: flex;
        align-items: center;
        cursor: pointer; }
        #qa .qa-list .item .qa-q .qq {
          display: inline-block;
          background: #fff;
          height: 2.5em;
          width: 2.5em;
          border-radius: 50%;
          text-align: center;
          line-height: 2.4em;
          margin-right: 2%;
          border: solid 2px #000b4d;
          color: #000b4d; }
        #qa .qa-list .item .qa-q .qa-kigou {
          display: inline-block;
          width: 28px;
          height: 16px;
          margin-left: auto;
          position: relative;
          transition: all 0.2s; }
          #qa .qa-list .item .qa-q .qa-kigou::before, #qa .qa-list .item .qa-q .qa-kigou::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: calc(50% - 2px);
            width: 0.25em;
            height: 1em;
            background: #000b4d;
            transform-origin: 50% calc(100% - 1.8px);
            border-radius: 2px; }
          #qa .qa-list .item .qa-q .qa-kigou::before {
            transform: rotate(45deg); }
          #qa .qa-list .item .qa-q .qa-kigou::after {
            transform: rotate(-45deg); }
        #qa .qa-list .item .qa-q.active .qa-kigou {
          transform: rotate(180deg); }
      #qa .qa-list .item .qa-a {
        display: none;
        background: #fff;
        padding: 1em;
        border-radius: 0 0 10px 10px; }

.ft-bnr {
  padding: 60px 0;
  position: relative; }
  .ft-bnr .cta-bnr {
    display: block;
    max-width: 600px;
    width: 90%;
    margin: auto;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px; }
    .ft-bnr .cta-bnr img {
      border-radius: 10px; }

footer {
  padding: 240px 0 20px;
  background: #ffc107;
  position: relative; }
  footer .sns-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin: 0 auto 4em; }
    footer .sns-list .sns {
      box-sizing: border-box;
      width: 60px;
      border-radius: 50%;
      border: solid 2px #fff;
      box-shadow: 2px 2px 0 0px #000b4d; }
      footer .sns-list .sns:hover {
        border: none;
        box-shadow: none; }
  footer .copy-right {
    text-align: center; }

@media screen and (max-width: 900px) {
  .sp-block {
    display: none; }

  .lead {
    text-align: left;
    max-width: 600px;
    width: fit-content;
    margin: auto; }

  footer {
    padding: 100px 0 160px; }

  .wave {
    top: 60px; } }
@media screen and (max-width: 540px) {
  section {
    padding: 40px 0; }

  .side-fixed {
    right: 2px;
    bottom: 2px;
    box-shadow: 2px 2px 0 0 #000b4d; }

  #mv .mv-logo {
    width: 80%;
    padding: 32px 0 0 12px; }
  #mv .mv-bg {
    height: 70vh; }
  #mv .mv-copy {
    bottom: 15%; }
    #mv .mv-copy p {
      box-shadow: 0px 1px 0px 1px #fff;
      text-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
      border: solid 1px #fff;
      border-left: none; }
      #mv .mv-copy p:first-of-type {
        margin-bottom: 12px; }
  #mv .mv-info {
    padding: 40px 14px 20px; }
  #mv .mv-open {
    margin-bottom: 16px; }
  #mv .mv-text {
    width: 80%;
    margin: 28px auto 0; }

  .wave {
    top: 40px; }

  .beer-area li:nth-child(1) {
    width: 40px;
    height: 40px; }
  .beer-area li:nth-child(2) {
    width: 15px;
    height: 15px; }
  .beer-area li:nth-child(3) {
    width: 30px;
    height: 30px; }
  .beer-area li:nth-child(4) {
    width: 30px;
    height: 30px; }
  .beer-area li:nth-child(5) {
    width: 45px;
    height: 45px; }
  .beer-area li:nth-child(6) {
    width: 20px;
    height: 20px; }

  .container {
    border-radius: 20px;
    border: solid 3px #000b4d;
    box-shadow: 6px 6px 0px #000b4d; }

  .container-in {
    padding: 0 1em 2em; }

  .sec-title {
    border-bottom: solid 3px #000b4d;
    text-shadow: 2px 2px 0 #0b4013; }
    .sec-title .st-sub {
      border: solid 2px #0b4013; }

  #ticket-buy {
    padding: 80px 0 60px; }
    #ticket-buy .text {
      margin: 0 auto; }
    #ticket-buy .cta-btn {
      max-width: 300px; }

  #event {
    padding: 20px 0; }
    #event .lead {
      padding: 2em 0.3em; }
    #event .event-list {
      border-radius: 20px;
      padding: 8px 10px; }
      #event .event-list .item .head {
        min-width: 100px;
        padding: 15px 0 15px 10px;
        margin-right: 0; }
        #event .event-list .item .head::before {
          width: 6px;
          height: 6px; }

  #brewery {
    padding: 20px 0; }
    #brewery .lead {
      padding: 1.5em 0.3em 2em; }
    #brewery .brewery-list {
      margin: 0 auto 30px;
      grid-template-columns: repeat(2, 1fr); }

  #contents {
    padding: 20px 0 120px; }
    #contents .lead {
      padding: 1.5em 0.3em 2em; }
    #contents .pickup-head {
      padding: 10px 20px;
      top: 25px; }
    #contents .pickup-flex {
      margin: 0 auto;
      border-radius: 20px;
      padding: 40px 12px 16px; }

  #access iframe {
    box-shadow: 4px 4px 0 0px #000b4d;
    border: solid 2px #000b4d;
    border-radius: 10px;
    height: 400px; }

  #qa {
    padding: 100px 0; }
    #qa .qa-list .item {
      box-shadow: 3px 3px 0px #000b4d; }

  .ft-bnr {
    padding: 60px 0; }

  footer .sns-list {
    gap: 30px; }
    footer .sns-list .sns {
      width: 40px;
      border: solid 1px #fff; } }

/*# sourceMappingURL=style.css.map */
