@charset "utf-8";

html,
body {
  width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

a {
  cursor: pointer;
}

section {
  display: block;
  position: relative;
  z-index: 0;
  padding: 120px 0;
}

.inner-wrap {
  @include in-wrap(100%, 1em);
  max-width: 1200px;
  margin: auto;
}
.font-mp {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

#mv {
  padding: 0;
  .mv-top {
    position: relative;
  }
  .mv-bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .mv-logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 500px;
    width: calc(90% - 4em);
    padding: 2em;
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
  }
  .mv-copy {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    margin: auto;
    max-width: 1200px;
    width: calc(90% - 2em);
    border-top: solid 4px #fff;
    border-bottom: solid 4px #fff;
    padding: 1em;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.6));
  }
  .mv-cp {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    color: #fff;
    line-height: 1.6;
    p {
      width: fit-content;
      padding: 0.3em 0.6em;
      // background: rgba(#47b5ff, 0.9);
      background: rgba(#0c004e, 0.9);
      box-shadow: 6px 6px 0px 0px rgba(#fff, 0.9);
      text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.3);
      border-top: solid 1px #fff;
      border-right: solid 1px #fff;
      border-bottom: solid 1px #fff;
      &:first-of-type {
        margin-bottom: 20px;
      }
    }
  }
  .mv-info {
    max-width: 1000px;
    width: calc(100% - 2em);
    margin: auto;
    padding: 120px 1em 0;
  }
  .mv-open {
    margin-bottom: 2em;
  }
  .mv-text {
    max-width: 600px;
    width: 100%;
    margin: 4em auto;
  }
}
.side-fixed {
  position: fixed;
  z-index: 100;
  right: 1em;
  bottom: 1em;
  background: $main;
  border: solid 2px $sub;
  padding: 0.5em;
  border-radius: 10px;
  .text {
    position: relative;
    text-align: center;
    padding: 0 1em;
    margin: 0 1em 0.25em;
    .num {
      padding: 0 2px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 2px;
      height: 70%;
      background: #000;
      transform: rotate(-25deg);
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 2px;
      height: 70%;
      background: #000;
      transform: rotate(25deg);
    }
  }
  .side-btn {
    display: block;
    width: calc(100% - 2em - 6px);
    background: #fff;
    color: $sub;
    padding: 0.5em 1em;
    text-align: center;
    border: solid 2px $sub;
    border-radius: 10px;
    &:hover {
      background: $sub;
      color: #fff;
    }
  }
  .close-btn {
    cursor: pointer;
    position: absolute;
    top: -0.7em;
    left: -0.7em;
    width: 30px;
    height: 30px;
    background: $sub;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-weight: 800;
  }
}

.wave {
  position: relative;
  top: 80px;
  width: 200%;
  height: 100%;
}
.wave-path {
  animation: wave-move 4s linear infinite;
}
@keyframes wave-move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-640px);
  }
}

.lead {
  text-align: center;
}

.beer-area {
  position: relative;

  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  li {
    display: block;
    position: absolute;
    bottom: -120px;
    background: rgba(#fff, 0.6);
    border-radius: 50%;
    animation: awaawa 4s linear infinite;
  }
  li:nth-child(1) {
    left: 5%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  li:nth-child(2) {
    left: 15%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
  }
  li:nth-child(3) {
    left: 20%;
    width: 60px;
    height: 60px;
    animation-delay: 3s;
  }
  li:nth-child(4) {
    left: 80%;
    width: 60px;
    height: 60px;
    animation-delay: 1s;
  }
  li:nth-child(5) {
    left: 85%;
    width: 90px;
    height: 90px;
    animation-delay: 2.5s;
  }
  li:nth-child(6) {
    left: 95%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
  }
  @keyframes awaawa {
    0% {
      top: 100%;
      opacity: 0;
    }
    10% {
      opacity: 0;
    }

    90% {
      opacity: 1;
    }
    100% {
      top: 0;
      opacity: 0;
    }
  }
}

#ticket-buy {
  background: $main;
  padding: 60px 0 40px;
  .heading {
    max-width: 700px;
    width: 100%;
    margin: auto;
  }
  .text {
    text-align: center;
    text-shadow: 0 0 6px #fff;
    padding: 2em 1em;
    color: #000b4d;
    width: fit-content;
    margin: 0em auto 1em;
    line-height: 2;
    -webkit-text-stroke: 3px rgba(#fff, 1);
    paint-order: stroke;
  }
  .cta-btn {
    display: block;
    max-width: calc(500px - 2em - 6px);
    width: calc(100% - 2em - 6px);
    margin: auto;
    padding: 0.8em 1em;
    background: #fff;
    color: $sub;
    text-align: center;
    border-radius: 2em;
    border: solid 3px $sub;
    box-shadow: 0 6px 0 0 $sub;
    position: relative;
    top: -4px;
    transition: 0.2s;
    &:hover {
      top: 0;
      box-shadow: 0 0 0 0 $sub;
    }
  }
}

.container {
  max-width: calc(1000px - 2em - 8px);
  width: calc(100% - 2em - 8px);
  margin: auto;
  background: #fff;
  padding: 4em 1em;
  border-radius: 40px;
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: solid 4px $sub;
}
.sec-heading {
  max-width: 700px;
  width: 100%;
  margin: auto;
}

#event {
  padding: 40px 0;
  background: $main;
  .lead {
    padding: 2em 0;
    line-height: 1.8;
  }
  .event-list {
    box-sizing: border-box;
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding: 1em 2em;
    border-radius: 40px;
    background: #fff1cb;
    .item {
      display: flex;
      align-items: center;
      padding: 1em 0;
      border-bottom: dashed 1px $sub;
      &:last-of-type {
        border: none;
      }
      .head {
        min-width: calc(200px - 2em);
        width: 20%;
        background: $main;
        padding: 1em;
        position: relative;
        clip-path: polygon(0 0, 70% 0, 85% 50%, 70% 100%, 0 100%);
        margin-right: 3%;
        &::before {
          content: "";
          position: absolute;
          right: 30%;
          top: 50%;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background: #fff;
          border: solid 2px $sub;
        }
      }
    }
  }
}

#brewery {
  padding: 40px 0;
  background: $main;
  .lead {
    padding: 2em 0;
    line-height: 1.8;
  }
  .brewery-list {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    .item {
      display: block;
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
      transition: 0.2s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .cta-btn {
    display: block;
    max-width: calc(400px - 2em - 6px);
    width: calc(100% - 2em - 6px);
    margin: auto;
    padding: 0.5em 1em;
    background: $sub;
    color: #fff;
    text-align: center;
    border-radius: 2em;
    border: solid 3px $sub;
    &:hover {
      background: #fff;
      color: $sub;
    }
  }
}

#contents {
  padding: 40px 0 120px;
  background: $main;
  .lead {
    padding: 2em 0;
    line-height: 1.8;
  }
  // .pickup-heading {
  //   align-items: center;
  //   display: flex;
  //   justify-content: center;
  //   max-width: 900px;
  //   width: 100%;
  //   margin: auto;
  //   position: relative;
  //   top: 70px;
  // &::before,
  // &::after {
  //   content: "";
  //   width: 100%;
  //   height: 4px;
  //   background: $sub;
  //   border-radius: 2px;
  // }
  // }
  .pickup-head {
    display: block;
    max-width: 180px;
    width: 40%;
    margin: auto;
    background: #ffce48;
    padding: 20px 60px 10px;
    border-radius: 40px;
    position: relative;
    top: 74px;
  }
  .pickup-flex {
    max-width: 900px;
    width: 100%;
    margin: 2em auto 0;
    display: flex;
    justify-content: space-between;
    padding: 6em 2em 2em;
    box-sizing: border-box;
    border-radius: 40px;
    background: #b0f0fd;
    .item {
      width: 30%;
      p {
        padding-top: 1em;
        text-align: center;
        color: $sub;
      }
    }
  }
}

.cont-slider {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  .swiper-wrapper {
    transition-timing-function: linear !important;
  }
  .swiper-slide {
    box-sizing: border-box;
    border-radius: 1em;
    overflow: hidden;
  }
}

#access {
  iframe {
    display: block;
    max-width: 800px;
    width: 100%;
    margin: 2em auto;
  }
  .access-text {
    max-width: 800px;
    width: 100%;
    margin: auto;
  }
  .place {
    border-bottom: solid 2px $main;
    margin-bottom: 1em;
    padding-bottom: 4px;
  }
  .station {
    p {
      padding-bottom: 0.5em;
    }
  }
}

#qa {
  background: #9ddaff;
  .qa-list {
    max-width: 800px;
    width: 100%;
    margin: 2em auto 0;
    .item {
      background: $main;
      border-radius: 10px;
      margin-bottom: 1.15em;
      .qa-q {
        padding: 1em;
        border-radius: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .qq {
          display: inline-block;
          background: #fff;
          height: 2.5em;
          width: 2.5em;
          border-radius: 50%;
          text-align: center;
          line-height: 2.4em;
          margin-right: 2%;
          border: solid 2px #000b4d;
          color: #000b4d;
        }
        .qa-kigou {
          display: inline-block;
          width: 28px;
          height: 16px;
          margin-left: auto;
          position: relative;
          transition: all 0.2s;
          &::before,
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: calc(50% - 2px);
            width: 0.25em;
            height: 1em;
            background: $sub;
            transform-origin: 50% calc(100% - 1.8px);
            border-radius: 2px;
          }
          &::before {
            transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
        &.active {
          .qa-kigou {
            transform: rotate(180deg);
          }
        }
      }
      .qa-a {
        display: none;
        background: #fff;
        padding: 1em;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.ft-bnr {
  padding: 80px 0 40px;
  .cta-bnr {
    display: block;
    max-width: 600px;
    width: 90%;
    margin: auto;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    img {
      border-radius: 10px;
    }
  }
}

footer {
  padding: 80px 0 20px;
  background: $main;
  .sns-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 250px;
    width: 100%;
    margin: 0 auto 4em;
    .sns {
      width: 20%;
    }
  }
  .copy-right {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .sp-block {
    display: none;
  }
  .lead {
    text-align: left;
    max-width: 600px;
    width: fit-content;
    margin: auto;
  }
  footer {
    padding: 60px 0 160px;
  }
  .wave {
    top: 60px;
  }
}

@media screen and (max-width: 540px) {
  section {
    padding: 40px 0;
  }
  .side-fixed {
    right: 0;
    bottom: 0;
  }
  #mv {
    .mv-logo {
      width: calc(80% - 2em);
      padding: 14px;
      -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    }
    .mv-bg {
      height: 70vh;
    }
    .mv-copy {
      bottom: 0;
      width: calc(100% - 2em);
      border: none;
      background: $sub;
      filter: none;
    }
    .mv-cp {
      p {
        box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0.9);
        &:first-of-type {
          margin-bottom: 12px;
        }
      }
    }
    .mv-info {
      padding: 40px 14px 0;
    }
    .mv-open {
      margin-bottom: 16px;
    }
    .mv-text {
      width: 80%;
      margin: 28px auto 0;
    }
  }
  .wave {
    top: 40px;
  }
  .beer-area {
    li:nth-child(1) {
      width: 40px;
      height: 40px;
    }
    li:nth-child(2) {
      width: 15px;
      height: 15px;
    }
    li:nth-child(3) {
      width: 30px;
      height: 30px;
    }
    li:nth-child(4) {
      width: 30px;
      height: 30px;
    }
    li:nth-child(5) {
      width: 45px;
      height: 45px;
    }
    li:nth-child(6) {
      width: 20px;
      height: 20px;
    }
  }
  .container {
    border-radius: 20px;
    padding: 2em 1em;
    border: solid 2px $sub;
  }

  #ticket-buy {
    padding: 60px 0 40px;
    .text {
      -webkit-text-stroke: 2px white;
      // text-shadow: 0 0 4px rgba(#fff, 0.6);
      text-shadow: none;
    }
  }
  #event {
    padding: 20px 0;
    .lead {
      padding: 1.5em 0.3em 2em;
    }
    .event-list {
      border-radius: 20px;
      padding: 8px 10px;
      .item {
        .head {
          min-width: 100px;
          padding: 15px 0 15px 10px;
          margin-right: 0;
          &::before {
            width: 6px;
            height: 6px;
            border: solid 1px $sub;
          }
        }
      }
    }
  }
  #brewery {
    padding: 10px 0 20px;
    .lead {
      padding: 1.5em 0.3em 2em;
    }
    .brewery-list {
      margin: 0 auto 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  #contents {
    padding: 10px 0 40px;
    .lead {
      padding: 1.5em 0.3em 2em;
    }
    .pickup-head {
      max-width: 120px;
      width: 25%;
      padding: 12px 40px 8px;
      top: 25px;
    }
    .pickup-flex {
      margin: 0 auto;
      border-radius: 20px;
      padding: 40px 12px 16px;
    }
  }
  .ft-bnr {
    padding: 40px 0 0;
  }
}
