@charset "utf-8";

body {
  @include font-base();
  color: #0b0b0b;
}

input,
button {
  @include font-base();
  color: #0b0b0b;
}

.cta-btn {
  @include font-base(1.5em, 800);
}
.side-fixed {
  .text {
    font-weight: 600;
    .num {
      font-size: 1.5em;
    }
  }
  .side-btn {
    @include font-base(1.25em, 800);
  }
}
#ticket-buy {
  .text {
    @include font-base(1.25em, 600);
  }
}
.lead {
  @include font-base(1.25em, 500);
}
#event {
  .event-list {
    .item {
      .head {
        @include font-base(1.5em, 600);
      }
      .desc {
        @include font-base(1.25em, 600);
      }
    }
  }
}
#contents {
  .pickup-flex {
    .item {
      p {
        font-weight: 800;
      }
    }
  }
}
#access {
  .place {
    @include font-base(1.25em, 600);
  }
}
#qa {
  .qa-list {
    @include font-base(1.1em, 600);
  }
}
.copy-right {
  font-size: 12px;
}

@media screen and (max-width: 900px) {
  body {
    @include font-base(14px, 500);
  }
}

@media screen and (max-width: 540px) {
  .lead {
    font-size: 13px;
    @include font-base(13px, 600);
  }
  #ticket-buy {
    .text {
      font-size: 16px;
    }
  }
  .cta-btn {
    font-size: 18px;
  }
  #event {
    .event-list {
      .item {
        .head {
          font-size: 15px;
        }
        .desc {
          font-size: 14px;
        }
      }
    }
  }
  #contents {
    .pickup-flex {
      .item {
        p {
          font-size: 11px;
        }
      }
    }
  }
  #qa {
    .qa-list {
      font-size: 14px;
    }
  }
}
